.logo{
    font-family: DM Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #F8F9FA;

}

.all{
    /*width: 100vw;*/
    height: 100vh;
    background-color: #F8F9FA;
}